@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');


@font-face{
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: normal;
    src: local('※'),
    url(../assets/fonts/NotoSansKR-Thin.otf),
    url(../assets/fonts/NotoSansKR-Regular.otf),
    url(../assets/fonts/NotoSansKR-Medium.otf),
    url(../assets/fonts/NotoSansKR-Light.otf),
    url(../assets/fonts/NotoSansKR-Bold.otf),
    url(../assets/fonts/NotoSansKR-Black.otf);
    unicode-range: U+AC00-U+D7A3;
}

/**
 * Style variables
 */
$base-font-family:     'Source Serif Pro', 'Noto Sans KR' !default;
$syntax-highlight-font-family: 'Source Code Pro', 'Noto Sans KR';
$base-font-size:       16px !default;
$mobile-font-size:     14px !default;
$base-line-height:     1.7 !default;
$container-width:      80% !default;
$container-max-width:  814px !default;

/**
 * Global
 */
body { 
  // background-color: #485461;
  // background-image: linear-gradient(315deg, #384049 0%, #1e2329 74%);
  
background-color: #130f40;
background-image: linear-gradient(100deg, #130f40 0%, #1b1919 74%);

margin: 0 auto;  padding: 0;  font-family: $base-font-family; 
       font-size: $base-font-size;  color: var(--text-color);  text-align: left;  line-height: $base-line-height !important; }
img{ width: 80%;  max-width: $container-max-width; height: auto; margin-bottom: 14px; margin-left: 3%;}

h1, h2, h3, h4, h5, h6 {  margin: 0px;  font-weight: bold;  color: var(--text-color); color: rgb(190, 180, 158); }
p, ul, ol { margin: 0px;  color: var(--text-color); }
a { text-decoration: underline;  color: var(--link-color); }
a:hover { color: var(--background-color); background-color: var(--base-color); }

h1{ font-size: 24px; 
  // background-color: #d17563;
  background-color: #d17563;
  background-image: linear-gradient(90deg, #c46856 98.6%, #ee941760 1.4%); min-width: fit-content; padding-right: 20px; width: 50%; max-width: 80%;
  color: #000 !important; margin-top: -10px; margin-bottom: 10px; padding-left: 10px;}
h2{ font-size: 20px; margin-bottom: 20px;}
h3{ font-size: 18px; }
hr{ margin-top: 20px; margin-bottom: 20px; }
strong{ color: rgb(108, 199, 193); }

.post-lists{ list-style-type: none; }


/**
* Layout
*/
.container { width: $container-width;  max-width: $container-max-width;  margin-right: auto;  margin-left: auto; margin-top: 40px;
  //  background-color: rgb(10, 10, 10); 
  // border-left: 20px solid rgb(9, 68, 68);
  border-bottom: 20px solid rgb(6, 70, 70);
  background-color: #000000;
  background-image: linear-gradient(90deg, #000000 0%, #414141 98%);
  padding-left: 50px; padding-bottom: 20px;}
  p { word-wrap: break-all;  word-break: break-all;  white-space: pre-wrap; margin-bottom: 15px; hyphens: auto; }
  footer { color: var(--text-color);  border-top: var(--border);  margin: 20px auto 15px;  padding-top: 10px;  text-align: right; }
  header { margin-top: 25px;  margin-bottom: 10px; }
  header p { text-align: left;  margin: 0; }
  footer { margin-bottom: 20px; }
  
.main-content-container{ padding-right: 30px; padding-bottom: 30px;}
@media only screen and (max-device-width: 500px) { * { font-size: $mobile-font-size !important; } 
             .container{ width: calc(100% - 40px); padding-left: 20px; padding-right: 20px;}
             .main-content-container{ padding-right: 0px; } }

/**
 * Highlight/Markup
 */
::selection { background: var(--selection-background);  color: var(--selection-text); }
::-moz-selection { background: var(--selection-background);  color: var(--selection-text); }

/**
 * Lists
 */
:not(.menu) > ul { list-style: none;  padding-left: 0; }
:not(.menu) > ul { list-style-type: none; }
:not(.menu) > ul > li:before { content: "-";  margin-right: 9px; }

/**
 * Header/Navigation
 */
.menu { border-top: var(--border);  border-bottom: var(--border);  margin-bottom: 25px; }
.menu ul { margin-top: 12px;  margin-bottom: 12px;  padding-left: 0px;  list-style-type: none;  text-align: right; }
.menu ul li { display: inline;  margin-left: 10px; }
.menu ul li a { text-decoration: none;  color: var(--text-color); }
.menu ul li a:hover { text-decoration: none; color: var(--background-color); background-color: var(--base-color); }

/**
 * Form
 */
input, select, textarea { padding: 0;  margin: 0;  -webkit-appearance: none;  -webkit-border-radius: 0;  border: none; }
input[type=text], select, textarea { width: 100%;  resize: none;  background-color: var(--background-color);  color: var(--text-color);  caret-color: var(--text-color);  font-size: $base-font-size;  font-family: $base-font-family;  line-height: $base-line-height; }
input, select, textarea, textarea::-webkit-input-placeholder { text-indent: 0px; }
::placeholder { color: var(--placeholder-color);  opacity: 1; }
:-ms-input-placeholder { color: var(--placeholder-color); }
::-ms-input-placeholder { color: var(--placeholder-color); }
input[type=submit] { font-size: $base-font-size;  font-family: $base-font-family;  line-height: $base-line-height;  cursor: pointer;  color: var(--link-color);  background-color: var(--background-color); }
input[type=submit]:hover { color: var(--background-color); background-color: var(--base-color); }
*:focus { outline: none; }
textarea { vertical-align: top; }


/**
 * Custom scrollbar
 */
::-webkit-scrollbar {
  height: 5px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/**
 * Code and syntax highlighting
 */
.lineno { color: var(--code-color-1); margin-right: 15px; }
figure.highlight{ margin: 5px 0; border: 1px solid rgb(59, 58, 58);  margin-bottom: 20px; width: calc(100% - 40px); max-width: 750px; margin-left: 14px; padding: 10px; }
pre,code.highlighter-rouge  { border: none;  padding: 0;  margin: 0;  overflow: auto;  font-size: 10pt !important; padding-left: 4px; padding-right: 4px;
                              background-color: rgb(39, 39, 39); line-height: 1.7 !important;  font-family: 'Source Code Pro', monospace !important; }
code.highlighter-rouge{ font-size: 10pt; color: rgb(204, 27, 27);}
code{ font-size: 9pt; font-family: 'Source Code Pro', monospace !important; letter-spacing: -1px; max-width: $container-max-width;}

      .highlight table td { padding: 5px; }
      .highlight table pre { margin: 0;}
      .highlight, .highlight .w {
        color: #fbf1c7;
        background-color: #282828;
      }
      .highlight .err {
        color: #fb4934;
        background-color: #282828;
        font-weight: bold;
      }
      .highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
        color: #928374;
        font-style: italic;
      }
      .highlight .cp {
        color: #8ec07c;
      }
      .highlight .nt {
        color: #fb4934;
      }
      .highlight .o, .highlight .ow {
        color: #fbf1c7;
      }
      .highlight .p, .highlight .pi {
        color: #fbf1c7;
      }
      .highlight .gi {
        color: #b8bb26;
        background-color: #282828;
      }
      .highlight .gd {
        color: #fb4934;
        background-color: #282828;
      }
      .highlight .gh {
        color: #b8bb26;
        font-weight: bold;
      }
      .highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
        color: #fb4934;
      }
      .highlight .kc {
        color: #d3869b;
      }
      .highlight .kt {
        color: #fabd2f;
      }
      .highlight .kd {
        color: #fe8019;
      }
      .highlight .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
        color: #b8bb26;
        font-style: italic;
      }
      .highlight .si {
        color: #b8bb26;
        font-style: italic;
      }
      .highlight .sr {
        color: #b8bb26;
        font-style: italic;
      }
      .highlight .sa {
        color: #fb4934;
      }
      .highlight .se {
        color: #fe8019;
      }
      .highlight .nn {
        color: #8ec07c;
      }
      .highlight .nc {
        color: #8ec07c;
      }
      .highlight .no {
        color: #d3869b;
      }
      .highlight .na {
        color: #b8bb26;
      }
      .highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
        color: #d3869b;
      }
      .highlight .ss {
        color: #83a598;
      }