<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self'; style-src 'self' https://fonts.googleapis.com; img-src 'self'; font-src 'self' https://fonts.gstatic.com; connect-src 'self'; media-src 'self'; object-src 'self'; child-src 'self'; form-action 'none'; base-uri 'self'" />
<meta http-equiv="X-XSS-Protection"  content="1;mode=block" always>
<meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">

  {%- include head.html -%}

  <body>
    <!-- <div class="sidebar1">
      <button>TOC</button>
      <input type="checkbox" id="demo"/>
    <label for="demo" class="demo-lab">
      <a href="#1-aspect-oriented-programming-with-spring">1. Aspect Oriented Programming with Spring</a>
          <a href="#0-theory--aspect-oriented-programming">0. Theory : Aspect-Oriented-Programming</a>
              <a href="#0-0-reference">0-0. Reference</a>
              <a href="#0-1-introduction">0-1. Introduction</a>
              <a href="#0-2-aop-concepts">0-2. AOP Concepts</a>
          <a href="#1-spring-aop-aspectj-pointcut-expression-examples">1. Spring AOP AspectJ pointcut expression examples</a>
              <a href="#1-0-reference">1-0. Reference</a>
              <a href="#1-1-how-to-math-method-signature-patterns">1-1. How to math method signature patterns</a>
              <a href="#1-2-how-to-match-class-type-signature-patterns">1-2. How to match class type signature patterns</a>
              <a href="#1-3-how-to-match-class-name-patterns">1-3. How to match class name patterns</a>
              <a href="#1-4-how-to-combine-pointcut-expressions">1-4. How to combine pointcut expressions</a>
          <a href="#2-types-of-advice">2. Types of Advice</a>
              <a href="#2-0-reference">2-0. Reference</a>
              <a href="#2-1-syntax--explanation">2-1. Syntax &amp; Explanation</a>
      <a href="#2-spring-boot-architecture--flow-architecture">2. Spring Boot Architecture &amp; Flow Architecture</a>
              <a href="#2-0-reference-1">2-0. Reference</a>
              <a href="#2-1-introduction">2-1. Introduction</a>
              <a href="#2-2-explanation">2-2. Explanation</a>
                  <a href="#2-2-1-spring-boot-architecture">2-2-1. Spring Boot Architecture</a>
                  <a href="#2-2-2-spring-boot-flow-architecture">2-2-2. Spring Boot Flow Architecture</a>
              <a href="#2-4-remark">2-4. Remark</a>
      <a href="#3-java-persistence-apijpa">3. Java Persistence API(JPA)</a>
          <a href="#3-1-java-persistence-apijpa-architecture">3-1. Java persistence API(JPA) architecture</a>
              <a href="#3-1-0-reference">3-1-0. Reference</a>
              <a href="#3-1-1-introduction">3-1-1. Introduction</a>
              <a href="#3-1-2-explanation">3-1-2. Explanation</a>
              <a href="#3-1-3-remark">3-1-3. Remark</a></p>
    </label>
    </div> -->
    <div class="container">
      {%- include header.html -%}
    <main>
      <div class="main-content-container">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}
    </div>
  </body>
</html>
